p.sub-title1{
    color: crimson;
}
p#sub-title2{
    color: cyan;
}

.company{
    font-weight: bold;
    font-size: larger;
}
h1 {
    color: crimson;
    font-size: 50pt;
    font-weight: bold;
}
div.box1{
    height: 100px;
    width: 100px;
    background-color: darkblue;
}
div.box2{
    height: 100px;
    width: 100px;
    background-color: darkblue;
}
div.box3{
    height: 100px;
    width: 100px;
    background-color: darkblue;
}